{{!-- THIS FILE WILL BE WRAPPED BY MAIN.HANDLEBARS --}}

<section id="homeSection">
    <H1 id="homeHeader">Real-time NYC Rodent Data</H1>

    <p id="homepageDesc">
    Find restaurants, rodent hotspots, and real user reports in one place
    Make data-driven dining decisions with comprehensive rodent sighting data, health inspector reports, and community feedback from across New York City.
    </p>

    <p class="homeP">
        Make data-driven dining decisions with comprehensive rodent sighting data, health inspector reports, and community feedback from across New York City.
    </p>

    <div id="homeButtons">
        <button>Explore Heatmap </button>
        <button>Browse Restaurants</button>
    </div>

    <section>
        <h2 class="homeH2">Quick Stats</h2>
        <p class="homeP">Real Time Data Drom Across NYC</p>


        <div class="card-row">
            <div class="card">
                <h3>Total Restuarants</h3>
                <p>TODO: 24243</p>
            </div>
            <div class="card">
                <h3>Total Reports</h3>
                <p>TODO: 24243</p>
            </div>
            <div class="card">
                <h3>Total Users</h3>
                <p>TODO: 24243</p>
            </div>
            <div class="card">
                <h3>Verified Sightings</h3>
                <p>TODO: 24243</p>
            </div>
        </div>


    </section>

</section>
